* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131921;
  padding: 10px 5%;
  color: white;
  position: relative;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f4511e;
}

/* SEARCH BAR */
.search-bar {
  display: flex;
  width: 40%;
}

.search-bar input {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
}

.search-bar button {
  padding: 8px 12px;
  border: none;
  background-color: #f4511e;
  color: white;
  cursor: pointer;
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  
}

.nav-links li a:hover {
  color: #f4511e;
}

/* HAMBURGER */
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {

  .search-bar {
    width: 30%;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #131921;
    flex-direction: column;
    width: 200px;
    display: none;
    padding: 20px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}

@media (max-width: 600px) {

  .search-bar {
    display: none;
  }

  .logo {
    font-size: 20px;
  }
}
